<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Add Product</h1>
    <form action="/admin/add-product" method="post" enctype="multipart/form-data">
    <label for="name">Book Name</label>
    <input type="text" name="book_name" id="name">
    <label for="author">Author Name</label>
    <input type="text" name="author_name" id="author">
    <label for="price">Price</label>
    <input type="text" name="price" id="price">
    <label for="image">Image</label>
    <input type="text" name="image" id="image">
    <label for="bookImage">Book Image</label>
    <input type="file" name="bookImage" id="bookImage">
    <button type="submit">Add Product</button>
    </form>
</body>
</html>